<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.name }} | {{ title }}</title>

    <!-- build:css -->
    <link rel="stylesheet" type="text/css" href="../../css/styles.css">
    <!-- endbuild -->
    
    <!-- see:https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- endsee -->
    
</head>
<body class="bg-gray-400 font-sans leading-normal tracking-normal">
    {{> menu }}
    {{{ contents }}}

    <div class="p-10 text-center text-gray-600 mb-10">
        <p class="mb-5">{{{ site.copyright }}}</p>
    </div>
    <!-- build:js -->
    <script src="/js/scripts.js"></script>
    <!-- endbuild -->
</body>
</html>